body{
  overflow-x: hidden;
}
body {
  font-family: 'Titillium Web', sans-serif;
}

a {
  color: #00B7FF;
}

.card {
  height: min-content;
}

/* Image Styles */

.img-index {
  max-height: inherit;
  width: min-content;
  transform: scale(0.8, 0.5);
}

.view-img {
  height: 500px;
}
